extends layout

block content
  
  if registrations.length
    table.listing-table.table-striped.table-dark
      tr
        th Name
        th Email
      each reg in registrations
        tr
          td= reg.name
          td= reg.email
  else
    p No registrations' data